@model ShopManager.Areas.Admin.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Chi tiết Sản Phẩm Hóa Đơn";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mã Sản Phẩm: @Model.ProductId</h5>
        <p><strong>Mã Thanh Toán:</strong> @Model.PaymentId</p>
        <p><strong>Giá:</strong> @Model.Price.ToString("C")</p>
        <p><strong>Số Lượng:</strong> @Model.Quantity</p>
        <p><strong>Tổng Cộng:</strong> @Model.Total.ToString("C")</p>
        <p><strong>Ngày Tạo:</strong> @Model.CreateAt.ToString("dd/MM/yyyy")</p>

        <a href="@Url.Action("Index", "ChiTietHoaDon")" class="btn btn-primary">Trở Lại Danh Sách</a>
    </div>
</div>
